nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 90;
  height: 72px;
  border: 1px solid white;
  border-bottom: none;
  border-left: none;
  border-right:none ;
}
.borderanim {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: linear-gradient(90deg, transparent, white);
  // animation: animate 5s linear;
  // animation-iteration-count: 3;
  // border: 1px solid white;
  @keyframes animate {
    0% {
      left: 0;
      transform: translate(-100%);
      background: transparent;
    }
    30% {
      left: 0;
      transform: translate(-100%);
    }
    100% {
      left: 100%;
      transform: translate(0%);
    }
  }
}

nav .title {
  img {
    margin-top: 30px;
    margin-left: 20px;
    width: auto;
    height: 40px;
  }
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: darkblue;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: yellow;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  z-index: 1000;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: yellow;
  border-radius: 0.2rem;
  z-index: 1000;
}

@media (max-width: 480px) {
  .nav-img {
    img {
      background-color: transparent;
      border-radius: 10px;
      width: 40px;
      height: 40px;
      margin-bottom: 12px;
    }
  }
  nav .title {
    img {
      margin-top: 4px;
      width: 100px;
      height: 60px;
    }
  }

  .merger {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    background-color: white;
    border-bottom: 1px solid grey;
  }

  nav .menu {
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1000;
    margin: 20px;
    width: 60px;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    margin-top: 60%;
    animation: animatetext 2s ease-in-out;
    animation-iteration-count: 1;

    @keyframes animatetext {
      0% {
        left: 0;
        transform: translate(100%);
      }
      100% {
        left: 100%;
        transform: translate(0%);
      }
    }

  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.1rem 0.5rem;
  }
}
